* {
	box-sizing: border-box;
}

main {
	text-align: center;
}

.box-wrapper {
	display: inline-block;
}

.avatar img {
	width: 100px;
}

.prev, .next {
	display: none;
}

.box-wrapper {
	margin-left: 15px;
	margin-right: 15px;
	border: 1px solid black;
	margin-bottom: 20px;
}

.rep-initials {
	display: inline-block;
    width: 150px;
    height: 150px;
   	border: 1px solid black;
    border-radius: 50%;
    color: black;
}

.rep-initals p {
	margin: 300px auto;
    font-size: 3em;
}