* {
	box-sizing: border-box;
}

html {
	background-color: #3A4856;
}

body {
	margin: 0;
	font-family: 'Roboto', 'sans-serif';
}

header {
	background: #4286B4;
    background-size: cover;
    width: 100%;
    height: 70vh;
    text-align: center;
    color: white;
}

.capitol-icon {
	width: 10%;
}

.search-container {
    padding-top: 150px;
}

.title {
    font-size: 3.5em;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 0px;
}

.subtitle {
	font-size: 1.5em;
	font-weight: 700;
	margin-top: 0px;
	margin-bottom: 10px;
}

form {
    display: inline-block;
    width: 575px;
}

form.search-form input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid #EEE;
    float: left;
    width: 90%;
    border-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

form.search-form button {
    float: left;
    width: 10%;
    padding: 10px;
    background: #3A4856;
    color: white;
    font-size: 17px;
    border: 1px solid #EEE;
    border-left: none;
    cursor: pointer;
    border-radius: 4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    outline: none;
}

form.search-form::after {
    content: "";
    clear: both;
    display: table;
}

main {
	text-align: center;
	background-color: #3A4856;
	height: 100vh;
	color: white;
	position: relative;
}

.wrapper-inner {
    position: relative;
    z-index: 3;
    height: 100%;
}

.box-wrapper {
    margin-top: 90px;
    margin-bottom: 10px;
    z-index: 1;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    margin-right: 20px;
}

.box {
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 1px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 300px;
    background: #fff;
    text-align: center;
    padding-top: 65px;
}

.box-inner {
    padding: 15px;
    color: #3A4856;
}

.avatar {
    border-radius: 50%;
    top: -75px;
    margin-left: -75px;
    left: 50%;
    position: absolute;
}

.avatar img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    object-fit: cover;
}

.rep-initials {
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color: #9EADBD;
    border-radius: 50%;
    color: white;
}

.rep-initials p {
    margin: 50px auto;
    font-size: 3em
}

.rep-name {
    font-size: 1.5em;
    margin-bottom: 0px;
}

.rep-party {
    font-size: .8em;
    margin-top: 10px;
}

.rep-office {
    font-size: 1.00em
}

.rep-moreinfo {
	bottom: 25px;
	left: 40%;
	position: absolute;
}

.expand {
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 3px solid #3A4856;
    border-radius: 50%;
    color: #3A4856;
    text-decoration: none;
    font-size: 1.75em;
}

.expand:hover {
    background-color: #3A4856;
    color: white;
}

.prev,
.next {
    cursor: pointer;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 4em;
    border-radius: 0 3px 3px 0;
    display: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

.prev {
    position: absolute;
    top: 50%;
    left: 20px;
}

.next {
    position: absolute;
    top: 50%;
    right: 20px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background: #fff;
    color: black;
    margin: 50% auto;
    padding: 20px;
    width: 60%;
    height: 400px;
    margin: 350px auto;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2)
}

.closeBtn {
    color: #ccc;
    float: right;
    font-size: 30px;
}

.closeBtn:hover {
    color: #3A4856;
    text-decoration: none;
    cursor: pointer;
}

.modal-image img {
    width: 145px;
    height: 185px;
    float: left;
}

.modal-news img {
	width: 50px;
}