@media (min-width: 768px) {
    .capitol-icon {
        width: 200px;
    }
    
    .title {
        font-size: 3em;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    .subtitle {
        font-size: 1.75em;
        margin-bottom: 15px;
    }
    
    form {
        width: 520px;
    }
    
    form.search-form input[type=text] {
        width: 90%;
    }
    
    form.search-form button {
        width: 10%;
    }
    
    .search-container {
        padding-top: 150px;
    }
    
    .rep-display-title {
        font-size: 1.25em;
    }
    
    .prev,
    .next {
        font-size: 3.5em;
    }
    
    .prev {
        position: absolute;
        top: 5px;
        right: 650px;
    }
    
    .next {
        position: absolute;
        top: 5px;
        left: 650px;
    }
    
    .modal-content {
        width: 80%;
        height: 550px;
        overflow: auto;
    }
    
    .modal-image {
        float: none;
        text-align: left;
    }
    
    .modal-image img {
        width: 100px;
        height: 140px;
    }
    
    .modal-name {
        font-size: 1.5em;
    }
    
    .modal-position {
        font-size: 1em;
    }
    
    .modal-party {
        font-size: .75em;
    }
    
    .modal-main {
        font-size: 1em;
    }
    
    .modal-links img {
        width: 30px;
    }
    
    .modal-links a {
        display: inline-block;
    }
    
    .modal-news-container {
        margin-top: 20px;
    }
    
    .modal-news {
        padding: 0px;
    }
    
    .modal-news-container p {
        font-size: 1.15em
    }
    
    .modal-news-container a {
        font-size: .75em;
    }
    
    .modal-news-container img {
        width: 75px;
        height: 40px
    }
}

@media (min-width: 1024px) {
    .capitol-icon {
        width: 200px;
    }
    
    .title {
        font-size: 3em;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    .subtitle {
        font-size: 1.75em;
        margin-bottom: 15px;
    }
    
    form {
        width: 520px;
    }
    
    form.search-form input[type=text] {
        width: 90%;
    }
    
    form.search-form button {
        width: 10%;
    }
    
    .search-container {
        padding-top: 150px;
    }
    
    .rep-display-title {
        font-size: 1.25em;
    }
    
    .prev,
    .next {
        font-size: 3.5em;
    }
    
    .prev {
        position: absolute;
        top: 5px;
        right: 950px;
    }
    
    .next {
        position: absolute;
        top: 5px;
        left: 950px;
    }
    
    .modal-content {
        width: 80%;
        height: 550px;
        overflow: auto;
    }
    
    .modal-image {
        float: none;
        text-align: left;
    }
    
    .modal-image img {
        width: 100px;
        height: 140px;
    }
    
    .modal-name {
        font-size: 1.5em;
    }
    
    .modal-position {
        font-size: 1em;
    }
    
    .modal-party {
        font-size: .75em;
    }
    
    .modal-main {
        font-size: 1em;
    }
    
    .modal-links img {
        width: 30px;
    }
    
    .modal-links a {
        display: inline-block;
    }
    
    .modal-news-container {
        margin-top: 20px;
    }
    
    .modal-news {
        padding: 0px;
    }
    
    .modal-news-container p {
        font-size: 1.15em
    }
    
    .modal-news-container a {
        font-size: .75em;
    }
    
    .modal-news-container img {
        width: 75px;
        height: 40px
    }
}
